Installing `rapidfuzz` - https://maxbachmann.github.io/RapidFuzz/

In [3]:
!pip install rapidfuzz -q

     |████████████████████████████████| 1.6 MB 8.6 MB/s
     |████████████████████████████████| 103 kB 73.2 MB/s

### Loading fuzz

In [4]:
from rapidfuzz import fuzz

Simple Ratio

In [69]:
fuzz.ratio("new delhi","newdelhi")

13.33333333333333

Ratio when tokens are sorted

In [71]:
fuzz.token_sort_ratio("united states of america", "united america of states")

100.0

Levenshtein Distance Customization

In [9]:
from rapidfuzz.string_metric import levenshtein, normalized_levenshtein

In [74]:
levenshtein("new delhi","delhi")

1

In [75]:
normalized_levenshtein("new delhi","delhi")

55.55555555555556

In [82]:
levenshtein("string","stringss", weights = (10,1,1)) #wts = insertion, deletion, substitution

20

# Process Module

In [7]:
import pandas as pd

In [37]:
df = pd.DataFrame({'Place':['Orissa','Odissa','Mumbai','Bangalore','Bengaluru'],'Index':[20,30,50,60,70]})

In [38]:
df

       Place  Index
0     Orissa     20
1     Odissa     30
2     Mumbai     50
3  Bangalore     60
4  Bengaluru     70

In [39]:
df.Place

0       Orissa
1       Odissa
2       Mumbai
3    Bangalore
4    Bengaluru
Name: Place, dtype: object

In [49]:
from rapidfuzz.process import extractOne, extract, extract_iter

In [50]:
from rapidfuzz.string_metric import levenshtein, normalized_levenshtein

In [51]:
from rapidfuzz.fuzz import ratio

In [84]:
extract("Odrissa",df.Place)

[('Orissa', 92.3076923076923, 0),
 ('Odissa', 92.3076923076923, 1),
 ('Bangalore', 25.0, 3),
 ('Mumbai', 15.384615384615385, 2),
 ('Bengaluru', 12.5, 4)]

In [85]:
extractOne("Odrissa",df.Place)

('Orissa', 92.3076923076923, 0)

In [87]:
for x in extract_iter('Bangalore',df.Place, score_cutoff = 50):
  print(x)

('Bangalore', 100.0, 3)
('Bengaluru', 66.66666666666667, 4)

In [65]:
extractOne('Bangalore',df.Place)

('Bangalore', 94.11764705882352, 3)